## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(os.path.join("..", "Weather_Database", "WeatherPy_database.csv"))
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,66.24,58,97,16.40,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,79.90,77,12,17.29,few clouds
2,2,Tiksi,RU,71.6872,128.8694,-7.92,99,77,2.04,broken clouds
3,3,Bluff,NZ,-46.6000,168.3333,41.81,83,7,8.25,clear sky
4,4,Kalabo,ZM,-14.9700,22.6814,67.82,90,86,4.74,light rain

In [43]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimun temperature you would like for your trip? "))
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip? 50
What is the maximun temperature you would like for your trip? 90

In [44]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,66.24,58,97,16.40,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,79.90,77,12,17.29,few clouds
4,4,Kalabo,ZM,-14.9700,22.6814,67.82,90,86,4.74,light rain
5,5,Vila Franca Do Campo,PT,37.7167,-25.4333,59.41,79,63,11.43,broken clouds
6,6,Port Alfred,ZA,-33.5906,26.8910,64.60,82,26,7.72,scattered clouds

In [45]:
# 4a. Determine if there are any empty rows.
print(len(cities_preferred_df))
cities_preferred_df.count()

406

City_ID                406
City                   406
Country                402
Lat                    406
Lng                    406
Max Temp               406
Humidity               406
Cloudiness             406
Wind Speed             406
Current Description    406
dtype: int64

In [46]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_preferred_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

402

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,66.24,58,97,16.40,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,79.90,77,12,17.29,few clouds
4,4,Kalabo,ZM,-14.9700,22.6814,67.82,90,86,4.74,light rain
5,5,Vila Franca Do Campo,PT,37.7167,-25.4333,59.41,79,63,11.43,broken clouds
6,6,Port Alfred,ZA,-33.5906,26.8910,64.60,82,26,7.72,scattered clouds

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(25)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jalu,LY,66.24,overcast clouds,29.0331,21.5482,
1,Atuona,PF,79.90,few clouds,-9.8000,-139.0333,
4,Kalabo,ZM,67.82,light rain,-14.9700,22.6814,
5,Vila Franca Do Campo,PT,59.41,broken clouds,37.7167,-25.4333,
6,Port Alfred,ZA,64.60,scattered clouds,-33.5906,26.8910,
7,Ushuaia,AR,51.46,broken clouds,-54.8000,-68.3000,
10,Neiafu,TO,83.08,broken clouds,-18.6500,-173.9833,
13,Lorengau,PG,81.81,scattered clouds,-2.0226,147.2712,
15,Cidreira,BR,67.50,overcast clouds,-30.1811,-50.2056,
23,Faya,SA,66.72,broken clouds,18.3851,42.4509,
24,Bredasdorp,ZA,64.60,scattered clouds,-33.5906,26.8910,
26,Mount Gambier,AU,53.51,overcast clouds,-37.8333,140.7667,
27,Busselton,AU,53.51,overcast clouds,-37.8333,140.7667,
28,Kefalos,GR,64.62,few clouds,36.7453,26.9589,
29,Fonte Boa,BR,67.50,overcast clouds,-30.1811,-50.2056,
30,Geraldton,AU,53.51,overcast clouds,-37.8333,140.7667,
32,Cayenne,GF,84.24,broken clouds,4.9333,-52.3333,
34,Albany,AU,53.51,overcast clouds,-37.8333,140.7667,
36,Zhob,PK,71.46,broken clouds,31.3411,69.4481,
37,Kabalo,CD,70.86,broken clouds,-6.0500,26.9167,
38,Carnarvon,AU,53.51,overcast clouds,-37.8333,140.7667,
39,Tsiroanomandidy,MG,66.72,clear sky,-18.7667,46.0333,
46,Nabire,ID,75.38,moderate rain,-3.3667,135.4833,
47,Mataura,PF,79.90,few clouds,-9.8000,-139.0333,
50,Tabou,CI,76.93,overcast clouds,4.4230,-7.3528,

In [48]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [49]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(25)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jalu,LY,66.24,overcast clouds,29.0331,21.5482,صاحبة الفخامة
1,Atuona,PF,79.90,few clouds,-9.8000,-139.0333,Villa Enata
4,Kalabo,ZM,67.82,light rain,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
5,Vila Franca Do Campo,PT,59.41,broken clouds,37.7167,-25.4333,Pestana Bahia Praia
6,Port Alfred,ZA,64.60,scattered clouds,-33.5906,26.8910,The Halyards Hotel
7,Ushuaia,AR,51.46,broken clouds,-54.8000,-68.3000,Albatross Hotel
10,Neiafu,TO,83.08,broken clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
13,Lorengau,PG,81.81,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
15,Cidreira,BR,67.50,overcast clouds,-30.1811,-50.2056,Hotel Castelo
23,Faya,SA,66.72,broken clouds,18.3851,42.4509,املاك خالد الشعشوع
24,Bredasdorp,ZA,64.60,scattered clouds,-33.5906,26.8910,The Halyards Hotel
26,Mount Gambier,AU,53.51,overcast clouds,-37.8333,140.7667,The Commodore
27,Busselton,AU,53.51,overcast clouds,-37.8333,140.7667,The Commodore
28,Kefalos,GR,64.62,few clouds,36.7453,26.9589,Kokalakis Hotel
29,Fonte Boa,BR,67.50,overcast clouds,-30.1811,-50.2056,Hotel Castelo
30,Geraldton,AU,53.51,overcast clouds,-37.8333,140.7667,The Commodore
32,Cayenne,GF,84.24,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
34,Albany,AU,53.51,overcast clouds,-37.8333,140.7667,The Commodore
36,Zhob,PK,71.46,broken clouds,31.3411,69.4481,ROOM # 105 DUBAI HOTEL ZHOB
38,Carnarvon,AU,53.51,overcast clouds,-37.8333,140.7667,The Commodore
39,Tsiroanomandidy,MG,66.72,clear sky,-18.7667,46.0333,Hotel Ravinala
46,Nabire,ID,75.38,moderate rain,-3.3667,135.4833,Hotel Nusantara I
47,Mataura,PF,79.90,few clouds,-9.8000,-139.0333,Villa Enata
50,Tabou,CI,76.93,overcast clouds,4.4230,-7.3528,hotêl doufoulougou
53,Cape Town,ZA,64.60,scattered clouds,-33.5906,26.8910,The Halyards Hotel

In [50]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [51]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))